body{
	margin:0;
	padding:0;
	background-image:url(../img/again.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	overflow-x:hidden;
	overflow-y:scroll;
}
.no-padding{
	padding: 0px;
}
.no-margin{
	margin: 0px;
}
.content{
	
	background-color:rgba(231,240,112,0.1);

	margin-top: 10px;
	margin-bottom: 42px;
}
h1{
margin-left:9%;
margin-top:1%;
color:white;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  width: 20em;
  -webkit-animation: type 5s steps(60, end);
  font-family: Imprint MT Shadow; 
}

h1:nth-child(2){
 -webkit-animation: type2 3s steps(60, end);
}
@-webkit-keyframes type{ 
  from { width: 0; } 
} 

@-webkit-keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@-webkit-keyframes blink{
  to{opacity: .0;}
}
.active{
	background-color:rgba(231,240,112,0.5);
	color:red;
}
.active:hover{
	background-color:rgba(231,240,112,0.6);
}
.drop:hover{
color: green;
display: block;
}
.navbar{
	background-image:url(../img/reagain.jpg);
}
.navbar ul li a{
	color: white;
}
.navbar ul li a:hover{
	color: green;
	background-color:rgba(231,240,112,0.5);
	font-size: 20px;
} 
.navbar ul li ul li a{
color: green;	
}
.navbar ul li ul li a:hover{
	color:green;
}
.navbar ul li ul li:hover{
	color: green;
	background-color:rgba(231,240,112,0.6);
}
ul li:hover ul{
display:block;
color: green;
background-color:rgba(231,240,112,0.6);
}

#firstimg{
	margin-right: 52px;
	border:5px groove rgb(181, 230, 29);
}
input[type="text"]{
	width:200px;
	background-image:url(../img/search-2-xxl.png);
	background-repeat:no-repeat;
	background-position:right;
	background-size:40px;
	padding:10px 10px;
	position:absolute;
	top:32%;
	left:20%;	
	border-radius: 50px;
	outline: none;
}

input[type="image"]{
	width:195px;
	height:200px;
	outline: none;
	border:none;
}	
#Home, #About, #Test{
	color:rgb(181, 230, 29);
}

.anim{
	background-color:gray;
	height:16%;
	width:9%;
	border-radius:100%;
	margin-top:20%;
			
}
.back{
	background-color:rgba(231,240,112,0.5);
	box-shadow:10px 16px 25px rgb(140, 68, 6);
	border-radius: 15px;
	margin-bottom:10px;
	margin-top:25px;
	padding: 25px;	
}

.f{ 

	color:green;
	font-weight: bold;
	text-shadow:10px 16px 20px green;
}
.h2-img{
	margin-bottom:20px;
	box-shadow:15px 16px 25px rgb(140, 68, 6);
	border-radius: 15px;
	padding: 25px;	
	height:200px; 
	width:200px;
}

.s h3{
	color:brown;
}
h3{
  white-space: nowrap;
  overflow: hidden;
  width: 60em;
  -webkit-animation: type 5s steps(60, end);
  font-style: italic;
  font-weight: bold;
}
h3:nth-child(2){
 -webkit-animation: type2 3s steps(60, end);
}
@-webkit-keyframes type{ 
  from { width: 0; } 
} 

@-webkit-keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 300; } 
} 

@-webkit-keyframes blink{
  to{opacity: .0;}
}
.sitebar-footer{
	background-image:url(../img/reagain.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
}
.bottom-footer{
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #b2b2b2;
	color: white;
}
.footimg{
	margin-top: 2%;
	height: 200px;
	width: 450px;
}

.address{
	color: white;
}
.ul{
	margin-top: 2%;
	color: white;
}
.ul ul li a{
	text-decoration: none;
	color: white;
}
.right a{
	color:red;
}
.social-header{
	width:86%;
	padding:13px;
	position:absolute;
	left:43%;
}
.social-header ul{
	margin:0;
	padding:0;
	list-style:none;
}
.social-header ul li{
	display:inline-block;
	width:30px;
	
}
.social-header ul li a{
	color:transparent;
	display:block;
}
.social-header ul li a.facebook{
	background-image:url(../img/faacebook.jpg);
	background-repeat:no-repeat;
	background-size:30px 30px;
	height:30px;
	border-radius: 15px;
}
.social-header ul li a.twitter{
	background-image:url(../img/twitt.png);
	background-repeat:no-repeat;
	background-size:30px 30px;
	height:30px;
	border-radius: 15px;
}
.social-header ul li a.youtupe{
	background-image:url(../img/youu.jpg);
	background-repeat:no-repeat;
	background-size:30px 30px;
	height:30px;
	border-radius: 15px;
}
#img-a{
	height: 25px;
	width: 25px;
	margin-left: 3px;
	padding:2px;
	border-radius: 12px;
}
#img-b{
	height: 25px;
	width: 25px;
	margin-left: 3px;
	border-radius: 12px;
	padding:2px;
}
#img-c{
	height: 25px;
	width: 25px;
	padding:2px;
	border-radius: 12px;
}
#img-d{
	height: 25px;
	width: 25px;
	padding:2px;
	border-radius: 12px;
	
}
.carousel-caption{
	background-color:rgba(181, 230, 29, 0.5);
	max-width: 100%;
	width: 100%;
	left: 0px;
}
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:white;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
.box{	
	overflow:hidden;
} 

#test{
	color:rgb(127, 58, 11);
	font-size: 16px;
	font-weight: bold;
}
.caption{
	background:rgba(0,0,0,0.5);
	display:block;
	position:absolute;
	color:transparent;
}
#box1 .caption{
	width:450px;
	height:70px;
	top:10px;
	transition:top 1s, height 0.5s, color 1s;
}
#box1:hover .caption{
	top:130px;
	height:130px;
	color:white;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:black;
}
#scroll:hover {
   background-color:rgba(255 ,210 ,105,0.8);
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

	@media screen and (max-width:400px){
		.gol{
		display: hidden;
	}
	}
	@media screen and (max-width:600px){
	.gol{
		display: hidden;
	}
	}
	@media screen and (max-width:700px){
	.gol{
		display: hidden;
	}
	}

	
	@media screen and (max-width:800px){
		.gol{
		display: hidden;
	}
	}
	@media screen and (max-width:900px){
	.gol{
		display: hidden;
	}
	}
	@media screen and (max-width:1000px){
	.imgfamily1{
	border:4px solid green;
	height: 100px;
 	width: 100px;
 	position: absolute;
 	right:200px;
	}
	.gol{
		display: hidden;
	}
	.imgfamily2{
	border:4px solid green;
	height: 100px;
 	width: 100px;
 	position: absolute;
 	right:220px;
	}
	.imgfamily3{
	border:4px solid blue;
	height: 100px;
 	width: 100px;
 	position: absolute;
 	right:220px;
	}
	.imgfamily4{
	border:4px solid black;
	height: 100px;
 	width: 100px;
 	position: absolute;
 	right:220px;
	}
	.imgfamily5{
	border:4px solid yellow;
	height: 100px;
 	width: 100px;
 	position: absolute;
 	right:220px;
	}
	}
	@media screen and (max-width:1200px){
	

	}
	@media screen and (max-width:1300px){

	.imgfamily1{
	border:4px solid red;
	height: 100px;
 	width: 100px;
 	position: absolute;
 	right:90px;
	}
	@media screen and (max-width:1400x){
	
	}

	
